/*Global rules*/

html {
    font-family: Arial, monospace, sans-serif;
    overflow: hidden;
}

body {
    margin: 0;
}

/* * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

/*Game interface*/

.center {
    margin: 0 auto;
    text-align: center;
}

.center-img {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#interface {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 10.5vh;
    padding: 0 1%;
    background-color: #303f9f;
    -moz-box-shadow: 0 1px 10px black;
    -webkit-box-shadow: 0 1px 10px black;
    box-shadow: 0 1px 10px black;
}

td {
    padding: 0;
    height: 100%;
    vertical-align: middle;
}

td > div {
    position: relative;
    width: 100%;
    height: 100%;
}

#mines-panel {
    text-align: left;
    width: 35%;
}

#smiley-panel {
    width: 30%;
}

#flag-panel {
    width: 17.5%;
}

#time-panel {
    text-align: right;
    width: 17.5%;
}

#mines, #time {
    font-size: 2em;
    font-size: 5vh;
    color: #e8eaf6;
}

#smiley, #flagIndicator {
    display: block;
    position: absolute;
    width: auto;
    max-height: 80%;
}

#flagIndicator {
    opacity: 0;
}

#tiles-panel {
    position: relative;
    width: 100%;
    height: 90vh;
}

.tile {
    position: fixed;
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    border: 0.5px solid black;
    background: #0091ea; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0091ea, #00b0ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0091ea, #00b0ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0091ea, #00b0ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0091ea, #00b0ff); /* Standard syntax */
}

.tile span {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tile img {
    position: absolute;
    width: auto;
    height: 75%;
}
